* {
  box-sizing: border-box;
}

.title {
  color: white;
  margin: 2rem auto;
  text-align: center;
}

.stepbox {
  border: yellow 6px solid;
  margin-left: 2rem;
  margin-top: 4rem;
  color: white;
}

.stepbox:last-child {
  margin-bottom: 30rem;
}

.projectLine {
  color: white;
  margin-left: 2rem;
  margin-top: 4rem;
  border: lightskyblue 3px solid;
}

.img-box {
  border: orangered 12px solid;
  position: sticky;
  top: 25vh;
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: 0.5s;
  margin: 60vh 0 60vh
}

/* 
  ********THREE JS CANVAS 
  */
canvas {
  position: static;
  top: 0;
  left: 0;
  z-index: -2;
}

body {
  margin: 0;
}

/* //////END THREE JS CANVAS */