:root {
    --dark-color: rgb(30, 30, 30);
    --second-color: rgb(186, 220, 226);
    --third-color: rgb(56, 118, 163);
    --grey-color: rgb(150, 150, 150);
  }
  
  html {
    font-size: 100%;
    font-weight: 200;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: var(--dark-color);
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  main {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    line-height: 3em;
  }
  
  .content img {
    margin-left: 10px;
    -webkit-filter: invert(.9);
    filter: invert(.9);
  }

  